version: "3.7"
services:
  port-checker:
    build: .
    image: qmcgaw/port-checker:latest
    container_name: port-checker
    restart: always
    #network_mode: host
    environment:
      - ROOT_URL=/
      - LISTENING_ADDRESS=:8000
    network_mode: bridge
    ports:
      - 8000:8000/tcp
